:root {
  /* PRIMARY COLORS */
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  /* GRADIENT */
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);

  /* NEUTRAL COLORS */
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);
  /* DIVIDERS */
  --light-grayish-blue: hsl(240, 5%, 91%);

  /* FONT */
  font-size: 12px;
  font-family: 'Kumbh Sans', sans-serif;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(var(--soft-violet), var(--soft-blue));
}

ul {
  list-style: none;
  padding: 0;
}

summary {
  list-style: none;
}

.container {
  padding-top: 10rem;
  padding-bottom: 4rem;
}

.card {
  background-color: white;
  width: 300px;
  font-size: 1.1rem;
  border-radius: 2rem;
  transition: all 0.5s ease-in-out;
  animation: show 0.5s forwards;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.5);
  position: relative;
}

.card__img {
  position: relative;
}

.card__img--topMb {
  position: absolute;
  top: -9rem;
}

.card__img--bgMb {
  position: absolute;
  left: 2.5rem;
  bottom: -8.4rem;
}

.card__img--bgDk,
.card__img--topDk,
.card__img--boxDk {
  display: none;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.card__title {
  text-align: center;
  font-size: 2.75rem;
  font-weight: 700;
  padding-top: 10rem;
}

.card__list {
  padding: 0 2rem 3rem 2rem;
}

.card__list--item {
  border-bottom: 1px solid var(--light-grayish-blue);
  padding: 1.5rem 0;
}

.card__list--item details summary {
  color: var(--very-dark-grayish-blue);
  font-weight: 400;
  display: flex;
  justify-content: space-between;
}

.card__list--item details summary:hover {
  cursor: pointer;
  color: var(--soft-red);
}

.card__list--item details summary img {
  object-fit: contain;
  animation: rotateImg 0.5s forwards;
}

@keyframes rotateImg {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0);
  }
}

.card__list--item details[open] summary span {
  color: black;
  font-weight: 700;
  animation: slideDown 0.5s forwards;
}

.card__list--item details[open] summary img {
  animation: rotateArrow 0.5s forwards;
}

@keyframes rotateArrow {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(180deg);
  }
}

.card__list--item details p {
  color: var(--dark-grayish-blue);
  font-size: 1rem;
  padding-right: 2rem;
  animation: slideDown 0.5s forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 200px;
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    max-height: 200px;
  }
  to {
    opacity: 1;
    max-height: 200px;
  }
}

@media (min-width: 1280px) {
  .container {
    position: relative;
  }

  .card {
    width: 1024px;
    display: flex;
    justify-content: flex-end;
    background-image: url(images/bg-pattern-desktop.svg);
    background-position: -510px -300px;
    background-repeat: no-repeat;
  }

  .card__img--topMb,
  .card__img--bgMb {
    display: none;
  }

  .card__img--boxDk {
    display: block;
    min-width: 100%;
    position: absolute;
  }

  .img__overflow-hidden {
    position: absolute;
    min-width: 55%;
    min-height: 100%;
    left: 0;
    overflow: hidden;
    object-fit: cover;
  }

  .card__img--topDk {
    min-width: 100%;
    display: block;
    transform: translate(-105px, 10px);
  }

  .card__img--boxDk {
    min-width: 25%;
    left: -10.5rem;
    top: 11rem;
    overflow: visible;
    z-index: 99;
  }

  .card__content {
    padding: 3rem 3rem 3rem 0rem;
  }

  .card__title {
    text-align: left;
    padding: 0 0 0 2rem;
  }
}
